.notification-row {
  background: #1D2021;
  margin: 10px 5px 10px 5px;
  border: 5px solid #266B79;
  border-radius: 10px;
  padding: 0px;
  box-shadow: none;
}

.notification-row:focus,
.notification-row:hover {
  background: #1D2021;
}

.notification {
  background: #1D2021;
  
  border-radius: 10px;
  box-shadow: none;
}

.notification-content {
  background: #1D2021;
  border-radius: 10px;
  box-shadow: none;
}

.control-center {
  background: #1D2021;
  border-radius: 10px;
  padding: 5px;
  border: 5px solid #266B79;
}

.widget-volume {
  background-color: @noti-bg;
  padding: 10px;
  margin: 10px 5px 10px 5px;
  border-radius: 10px;
  border: 1px solid #91D7E3;
  font-size: 1.5rem;
}

.widget-volume>box>button {
  background: transparent;
  border: none;
}

.per-app-volume {
  background-color: @noti-bg-alt;
  padding: 4px 8px 8px 8px;
  margin: 0px 8px 8px 8px;
  border-radius: 12px;
}

.widget-buttons-grid {
  font-size: x-large;
  padding-left: 35px;
  margin: 10px 5px 10px 5px;
  border-radius: 10px;
  border: 1px solid #91D7E3;
  background-color: #1D2021
}

.widget-buttons-grid>flowbox>flowboxchild>button {
  margin: 10px 5px 10px 5px;
  padding-left: 0px;
  background: @noti-bg;
  border: 1px solid #A6DA95;
  border-radius: 10px;
  color: @text-color
}

.widget-buttons-grid>flowbox>flowboxchild>button:hover {
  background: @noti-bg-hover;
  color: #A6DA95
}

.widget-mpris {
  /* The parent to all players */
}

.widget-mpris-player {
  padding: 10px;
  margin: 10px 5px 10px 5px;
  border: 1px solid #91D7E3;
  border-radius: 10px;
}

.widget-mpris-title {
  font-family: 'AurulentSansM Nerd Font Mono';
  font-size: 22px;
  font-weight: bold;
  font-size: 1.5rem;
}

.widget-mpris-subtitle {
  font-family: 'AurulentSansM Nerd Font Mono';
  font-size: 22px;
  font-size: 1.2rem;
}

/* Label widget */
.widget-label {
  margin: 10px 5px 10px 5px;
}

.widget-label>label {
  font-family: 'AurulentSansM Nerd Font Mono';
  font-size: 22px;
  font-size: 2rem;
  font-weight: bold;
}

/* Title widget */
.widget-title {
  margin: 10px 5px 10px 5px;
  font-family: 'AurulentSansM Nerd Font Mono';
  font-size: 1.5rem;
  font-weight: bold;
}

.widget-title>button {
  font-size: initial;
  color: #EBDBB2;
  text-shadow: none;
  background: @noti-bg;
  border: 1px solid #ED8796;
  box-shadow: none;
  border-radius: 12px;
}

.widget-title>button:hover {
  background: @noti-bg-hover;
}

/* DND widget */
.widget-dnd {
  margin: 10px 5px 10px 5px;
  font-family: 'AurulentSansM Nerd Font Mono';
  font-size: 1.2rem;
  font-weight: bold;
}

.widget-dnd>switch {
  font-size: initial;
  border-radius: 10px;
  background: @noti-bg;
  border: 1px solid #ED8796;
  box-shadow: none;
}

.widget-dnd>switch:checked {
  background: #4B716E;
}

.widget-dnd>switch slider {
  background: @noti-bg-hover;
  border-radius: 10px;
}