/* COLORS */

@import                          "~/.cache/wal/colors-rofi-dark.rasi"

* {
  background:             #1d2021;
  background-transparent: #1d202199;
  background-alt:         #282B31FF;
  foreground:             #FBF1C7FF;
  foreground-alt:         #1d2021FF;
  selected:               #458588DD;	
  
}
