window.indicator {
  .progress {
    @include floating-widget;
    margin: max($spacing * 5, 8px);
    padding: $padding * 0.5;
    border-radius: if($radius >0, calc($radius + $padding * 0.5), 0);
    @debug $radius;

    .fill {
      border-radius: $radius;
      background-color: $primary-bg;
      color: $primary-fg;

      image {
        -gtk-icon-transform: scale(0.7);
      }
    }
  }

  .microphone {
    @include floating-widget;
    margin: $spacing * 2;
    padding: $popover-padding * 2;
    font-size: 58px;
    color: transparentize($fg, 0.1);
  }
}
