* {
  border: none;
  font-family: 'AurulentSansM Nerd Font Mono';
  font-size: 22px;
  font-weight: bold;
  font-family: 'Symbols Nerd Font Mono';
  font-size: 22px;
  font-weight: bold;
  min-height: 35px;
}

window#waybar {
  background: rgba(29, 32, 33, 1);
  border-radius: 10px;
  border: 5px solid #266B79;
}

#custom-arch,
#workspaces,
#cava {
  border: 0px solid #266B79;
  border-radius: 10px;
  background-color: rgba(29, 32, 33, 1);
  color: #FABD2F;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 3px;
  padding-top: 0px;
  padding-left: 5px;
  padding-right: 5px;
  border-top: 0px solid #266B79;
  border-bottom: 0px solid #266B79;

}

#custom-arch {
  margin-left: 10px;
  background-color: rgba(29, 32, 33, 1);
  margin-left: 5px;
}

#workspaces button {
  background: rgba(29, 32, 33, 1);
  background-color: rgba(29, 32, 33, 1);
  color: #FABD2F;
}

#bluetooth,
#cpu,
#memory,
#disk,
#tray,
#custom-notification {
  border: 0px solid #266B79;
  border-radius: 10px;
  background-color: rgba(29, 32, 33, 1);
  background-color: rgba(29, 32, 33, 1);
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 2px;
  margin-right: 5px;
  border-top: 0px solid #266B79;
  border-bottom: 0px solid #266B79;
}
#cpu,
#memory {
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 0px;
  padding-right: 0px;
}
#bluetooth {
  margin-left: 10px;
  padding-left: 0px;
}

#tray {
  padding-left: 0px;
  padding-right: 0px;
}

#clock,
#date,
#backlight,
#pulseaudio,
#network,
#battery {
  border: 0px solid #266B79;
  border-radius: 10px;
  background-color: rgba(29, 32, 33, 1);
  background-color: rgba(29, 32, 33, 1);
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  margin-right: 5px;
  border-top: 0px solid #266B79;
  border-bottom: 0px solid #266B79;
}

#network {
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

#custom-spotify {
  border: 0px solid #266B79;
  border-radius: 10px;
  margin-left: 200px;
  background-color: rgba(29, 32, 33, 1);
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
}
#custom-notification {
  font-family: "NotoSansMono Nerd Font";
}

.widget-buttons-grid {
  font-size: x-large;
  padding: 8px;
  margin: 20px 10px 10px;
  border-radius: 12px;
  border: 1px solid #7aa2f7;
  background-color: @noti-bg
}

.widget-buttons-grid>flowbox>flowboxchild>button {
  margin: 3px;
  background: #343b58;
  border-radius: 12px;
  color: @text-color
}

.widget-buttons-grid>flowbox>flowboxchild>button:hover {
  background: @noti-bg-hover;
  color: rgba(158, 206, 106, 1)
}
