@import "./catppuccin-mocha.scss";

* {
  padding: 0;
  margin: 0;
  font-weight: bolder;
}

window#waybar {
  font-size: $font-size;
  /*border-radius: $radii;
   */
background: transparentize($color: $bar-bg, $amount: 0.2);

}

#clock,
#custom-weather,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#network.speed,
#bluetooth,
#pulseaudio,
#custom-notification {
  padding-left: $spacing;
  padding-right: $spacing;
  margin-top: $spacing*1.5;
  margin-bottom: $spacing*1.5;
}

#clock,
#network {
  padding-left: $spacing*2;
  border-top-left-radius: $radii/2;
  border-bottom-left-radius: $radii/2;
}

#custom-weather,
#backlight,
#custom-notification {
  margin-right: $spacing*2;
  padding-right: $spacing*2;
  border-top-right-radius: $radii/2;
  border-bottom-right-radius: $radii/2;
}

#cpu {
  font-size: 1.1em;
  font-weight: bolder;
  color: $peach;
  transition: 400ms;
  animation: ws_normal 20s ease-out 10;
}

#bluetooth.connected {
  font-size: 1.15em;
  color: darken($color: $blue, $amount: 10);
}

#pulseaudio {
  padding-left: 0;
}

#image,
#workspaces,
#battery,
#tray,
#custom-power {
  padding-left: $spacing*1.5;
  padding-right: $spacing*1.5;
  margin-top: $spacing*1.5;
  margin-bottom: $spacing*1.5;
  margin-right: $spacing*2.0;
  border-radius: $radii/2;
}

#workspaces {
  padding-left: 0;
}

#workspaces button {
  font-size: 0;
  min-width: $font-size*1;
  min-height: $font-size*1;
  margin: $spacing*1.5;
  margin-top: $spacing*1.5;
  margin-bottom: $spacing*1.5;
  border-radius: $spacing*10;
  background-color: $fg_color;
  transition: 100ms;
  animation: ws_normal 20s ease-out 10;
}

#workspaces button.empty {
  background-color: $dark_1;
}

#workspaces button.active {
  min-width: $font-size*2.2;
  background-color: darken($color: $blue, $amount: 5);
  transition: 100ms;
}

#battery.full {
  font-size: 1.15em;
}

#custom-power {
  color: darken($color: $red, $amount: 10);
  margin-right: $spacing*1.5;
}

.modules-left {
  margin-left: $spacing;
}
