@mixin dock($spacing: $spacing * 0.7) {
    separator {
        border-radius: $radii;
        background-color: transparentize($fg-color, 0.8);
        margin: 0 $spacing;
        min-width: 2px;
        min-height: 2em;
    }

    button {
        @include accs-button($flat: true);

        .box {
            margin: $spacing / 2;
        }

        image {
            margin: $padding;
            margin-bottom: $padding * 1.5;

            @if $color-scheme == 'light' {
                -gtk-icon-shadow: $text-shadow;
            }
        }

        .indicator {
            min-width: 6px;
            min-height: 6px;
            background-color: $fg-color;
            border-radius: $radii;
            margin-bottom: $padding/4;

            &.focused {
                background-image: $active-gradient;
            }
        }
    }
}

window.floating-dock .dock {
    @include dock;
    @include floating-widget;
    border-radius: if($radii == 0, 0, $radii + $spacing / 2);
    border: $border-width solid $popover-border-color;
    padding: $spacing / 2;
}
