@import "./catppuccin-mocha.scss";

window {
  background: transparent;
  /* rgba(0, 0, 0, 0.8);*/
}

#match,
#entry,
#plugin,
#main {
  background: transparent;
}

#match.activatable {
  padding: 12px 14px;
  border-radius: 12px;

  color: white;
  margin-top: 4px;
  border: 2px solid transparent;
  transition: all 0.3s ease;
}

#match.activatable:not(:first-child) {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  /* border-top: 2px solid rgba(255, 255, 255, 0.1); */
}

#match.activatable #match-title {
  font-size: 1.3rem;
  font-weight: bolder;
}

#match.activatable:hover {
  background: $bg_color;
}

#match-title,
#match-desc {
  color: inherit;
}

#match.activatable:hover,
#match.activatable:selected {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

#match.activatable:selected+#match.activatable,
#match.activatable:hover+#match.activatable {
  border-top: 2px solid transparent;
}

#match.activatable:selected,
#match.activatable:hover:selected {
  color: $color-fg;
  background: $selected_bg_color;
}

#match,
#plugin {
  box-shadow: none;
}

#entry {
  padding-left: 18px;
  font-size: 1.2rem;
  font-weight: bolder;
  color: $fg_color;
  background: $bg_color;
  box-shadow: none;
  border-radius: 12px;
  border: $border $selected_bg_color;
  background-color: $grid-bg;
}

box#main {
  background: $widget-bg;
  border-radius: 20px;
  padding: 15px;
  /* box-shadow: 0px 2px 33px -5px rgba(0, 0, 0, 0.5); */
}

row:first-child {
  margin-top: 6px;
}
