* {
    border: none;
    font-size: 1.3rem;
    font-weight: normal;
    min-height: 40px;
}

#outer-box {
    border: 2px solid @wm_border_focused;
    border-radius: 30px;
}

#window {
    border-radius: 30px;
}

#scroll {
    margin: 10px;
}

#inner-box {
color: @theme_fg_color;
}

#input {
    font-size: 1.3rem;
    border: 1px solid rgba(255,255,255,.1);
    border-radius: 10px;
    margin: 20px;
    padding-left: 20px;
}

#entry:selected {
    color: @theme_selected_fg_color;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
}